body{
    margin:0;
    padding:0;
}
header{
    width: 100%;
    position: relative;
    z-index: 100;
    }  
.head{
    z-index: 7;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(10, 19, 50);
    transition: top 0.3s ease-in-out; /* Smooth transition for top property */
    align-items: center;
}
.head .page{
    display: flex;
    width: 45%;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 40px;
}
header .hamburger {
    display: none;
}
.head .logo{
    width: 50px;
    height: 60px;
    padding: 10px 0px 0px 30px;
}
.head .logo img {
    width: 140px;
    height: 40px;
}
.page a , .side-menu a{
    color: #fff;

}
.page a h2{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: normal;
    cursor: pointer;

}
/* h2{
    color: #fff;
} */
/* #home, #about, #service, #contact{
    color: red;
} */

.active {
    color: rgb(255, 149, 0);
    }
/* other content */
#servicecontent {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.slider {
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /* Semi-transparent white */
}

.slider img {
    width: 100%;
    height: 400px;
}
.slider video{
    width: 100%;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Adjust height as needed */
    background-color: rgb(95, 94, 94);
    opacity: 0.3;
    /* Semi-transparent white */
    z-index: 2;
    /* Ensure the background color is below the text */
}
.textarea {
    position: absolute;
    top: 200px;
    left: 5%;
    font-size: 35px;
    width: 50%;
    z-index: 5;
    /* Ensure the background color is below the text */
    color: rgb(221, 187, 0);
}
.slog span, .textarea p {
    color: white;

}
/* service.php */
.servicecontent{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#serviceparent{
    margin-top:80px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
  }
#servicecard {
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
    gap:20px;
    width: 100%;
   margin-bottom:60px;

}
.card {
   display: flex;
   flex-direction: column;
   align-items: center;
    width: 20%;
   border: 2px solid #605f5f;
   cursor: pointer;
}
.card img{
    width: 100%;
    height:200px;

}

.card p{
    margin :0px 20px 20px 20px;

}



#aboutsection{
display: flex;
    align-items: center;
    flex-direction: column;
}
.contactsection{
display: flex;
    align-items: center;
    flex-direction: column;
}
/* contact.php */
.signup {
    margin-top: 80px;
    border-radius: 20px;

    display: flex;
    align-items: end;
    width:90%;
    justify-content: space-between;
    border: 2px solid #07006f1f;
    flex-wrap: wrap;
}

.centre {
    display: flex;
    align-items: center;
    width: 55%;
    height: 100%;
    flex-direction: column;
    border-radius: 20px;
    background-color: #eaeaea94;

}
.center-c2{
    background-color: #fff;
    width: 45%;
}
.centre img{
    height: 100%;
    width: 100%;
}
  /* contact.php */
    

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
form .form-inner-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}
form .form-inner-content div{
    width: 45%;
}


form input, form select {
    height: 40px;
    margin: 20px 0;
    border: 1px solid;
    width: 100%;
    padding-left: 10px;

    border-radius: 20px;
    cursor: pointer;
    /* padding: 10px; */
}
    textarea{
    resize: none;
    border-radius: 20px;
    border: 1px solid;
    padding: 20px;
    margin-top: 20px;
    }
    
    
    form .form-sub-btn{
        display: flex;
justify-content: center;
margin-bottom: 20px;

 } 
form button {
    height: auto;
    font-size: 20px;
    background-color: rgb(7, 42, 169);
 border:none;
 outline: none;
 padding:10px 20px;
 color:white;
    cursor: pointer;
    border-radius:20px;
}

form .filed {
    padding-top: 20px;
}
.error{
    color:red;
}
.contactsection .map{
    width: 100%;
    margin: 80px 0;
}
/* service.php */
.selected-service{
  margin-top: 140px;
}
/* description */
.serviceparent {
    margin-top: 80px;
    display: flex;
    padding: 40px 50px;
    justify-content: space-between;
    border: 2px solid rgba(16, 16, 75);
  flex-wrap: wrap;
  }

  .desc {
    margin-left: 40px;
    width:80%;
  }
 .desc p{
  font-size:20px;
 }
 .serviceparent .img {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;

  }

  .img img {
    width: 100%;
    height: 250px;
  }
.gallery {
    display: flex;
    /* position: absolute; */
    /* bottom: 40px;
    left: 160px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .gallery-img {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-wrap: wrap;
  }

  .gallery-img img {
    width: 210px;
    margin: 20px 10px;
    height: 220px;
  }
  /* about.php */
  .aboutslider {
    position: relative;
    z-index: 3;
    height: 300px;

    background-color: rgba(5, 2, 2, 0.5);
    /* Semi-transparent white */
}

.aboutslider img {
    width: 100%;
}


.aboutslider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Adjust height as needed */
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    /* Semi-transparent white */
    z-index: 2;
    /* Ensure the background color is below the text */
}
.abouttext {
    position: absolute;
    top: 80px;
    left: 40%;
    font-size: 28px;
    z-index: 5;
    /* Ensure the background color is below the text */
    color: rgb(27, 4, 95);
}
.detail{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;

    margin-bottom:80px;
}
.detail h2{
    font-size:40px;
}
.faqs{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.faqs h2{
    color: rgb(20, 40, 123);
}
.faqs h4{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
 h4 span{
    padding-right: 50px;
    color: black;
}
.faqs h4 span i{
    color: black;
    font-size: 15px;
}
.arrow{
    transform: rotate(-180deg);
}
.faq-info{
    display: none;
}
.active-faqs{
    display: block;
}
.faqs .inner-details{
    width: 70%;
}
.info-img{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border:1px solid;
    flex-wrap: wrap;
}
.info-img img{
    width:300px;
    height:300px;
}
.info-img .info{
   width: 50%;
}
.about-image{
    height:100%;
}
p span{
    font-weight:bold;
}
/* footer.php */

footer{
background-color: rgba(7, 17, 52, 0.932);
color: #fff;
display: flex;
flex-direction: column;
padding-top: 40px;
position: relative;
}

.detial{
display: flex;
width:100%;
align-items: start;
justify-content:space-evenly;
flex-wrap: wrap;
}
.detial .footer-image  {
    position: absolute;
    top: 0;
    left: 0;
    width: 381px;
    height: auto;
    opacity: 0.2;
}
.detial .footer-image2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 381px;
    height: auto;
    opacity: 0.2;
}
.detial .column-section{
    width: 20%;
    padding: 0 15px;
    flex: 0 0 auto;
    z-index: 5;

}
.detial .col-1{
    width: 28%;

}
.detial .column-section p a{
    color: white;
}
.detial .column-section h2 img{
 width: 140px;
 height: 40px;
}
.column-section .credit {
    padding-top: 40px;
}
.column-section .credit img{
  width: 220px;
  height: auto;
}
.service-desc{
    cursor: pointer;
}
.newslatter {
display: flex ;
flex-direction: row;
align-items: center;
padding-top: 20px;
}
.newslatter input, .newslatter button{
    width: 100px;
    padding: 10px;
    border-radius: 4px;

}
.newslatter button{
    margin-left: 10px;
    background: rgb(255, 234, 0);
    color: black;
    outline: none;
    border: none;
}
.column-section .footer-description{
    line-height: 25px;
}
.newslatter .news-note{
    border: 1px solid white;
    padding: 10px;
    margin-right: 5px;
    line-height: 25px;
}

footer hr{
width:100%;
padding-top: 40px;
border-top:0px ;
border-left:0px ;
border-right:0px ;
}
.copy{
padding:10px;
text-align: center;
}


  

/* description.php */
 .btn-info{
  font-size: 20px;
    background-color: rgb(7, 42, 169);
    border: none;
    outline: none;
    padding: 10px 40px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
 }
 .btn-info a{
  text-decoration:none;
  color:#fff;

 }

 /* dashboard */
 body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.parent {
    width: 100%;

}

.a1 {
    width: 100%;
    height: 100px;
    background-color: rgb(25, 37, 81);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a1 h2 {
    padding: 0 50px;
}

.a1 h3 {
    padding: 0 20px;
}

h3 a {
    text-decoration: none;
    color: #fff;
}

.inner_parent {
    display: flex;
    height: 600px;
    width: 100%;
    /* justify-content:center; */
}

.a2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    background: rgb(78 89 129);
    color: white;
    align-items: center;
    float: left;
    position: fixed;
    height: 100%;
}

.a2 input{
margin-top: 20px;
    padding: 10px 10px;
    border: 1px solid;
    width: 80%;
    border-radius: 10px;
    /* border-right: none; */
    cursor: pointer;
}
.a2 h3 {
    margin-top: 20px;
    padding: 10px 0;
    border: 1px solid;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.btn-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-section button {
    margin-top: 20px;
    padding: 12px 0px;
    width: 130px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    background-color: #ffc527;
}

.btn-section button:hover {
    background: rgb(1, 1, 2);

    color: #fff;

}
.activeStatus{
    background-color: #fff;
    color: rgb(78 89 129);
}

/* .a2 h3:hover {
    background-color: #fff;
    color: rgb(78 89 129);

}

.a2 h3 a {
    /* background-color: red; */
    /* color: rgb(78 89 129); */
    /* opacity: 0.4; */

/* } */

.a3 {
    width: 100%;
    margin-left: 400px;
    padding-top: 50px;
    /* float:right; */
}

.a3 .table {
    border-collapse: collapse;
    width: 90%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.pagging {
    width: 100%;
}

.pagelist {
    display: flex;
    justify-content: start;
    list-style-type: none;
    margin-left: 250px;
}

.pagelist li {
    padding: 10px;
    border: 1px solid;
    margin: 40px 10px;
}

a {
    text-decoration: none;
}

.pageactive {
    background-color: #b8bcfc;

}

.mid_task {
    display: flex;
    justify-content:center;
}
.date_field{
    width:50%;
    display:flex;
    
    gap:40px;
}
.date_field button{
    width:150px;
}
.admin_profile {
    margin-right:20px;
width: 50px; /* Adjust as needed */
height: 35px; /* Adjust as needed */
border-radius: 50%; 
margin-top:10px;
overflow: hidden; /* Clips the image to fit within the circular shape */
}

.admin_profile img {
width: 100%;
height: auto;
}